<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>AASTHA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/MyProfile.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/navbar.css">

</head>


<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">



    <section class="navigation">
        <div class="nav-container">
          <div class="brand">
            <a href="#!">AASTHA</a>
          </div>
          <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
              <li>
                <a href="/dashboard">Home</a>
              </li>
              <li>
                <a href="/aboutus">About Us</a>
              </li>
              <li>
                <a href="#!">Request</a>
                <ul class="nav-dropdown">
                  <li>
                    <a href="/my-profile/my-request">My Request</a>
                  </li>
                  <li>
                    <a href="/request-feed">Request Feed</a>
                  </li>
                  <li>
                    <a href="/add-blood-request">Add blood Request</a>
                  </li>
                  <li>
                </ul>
              </li>
              <li>
                <a href="#!">Search</a>
                <ul class="nav-dropdown">
                  <li>
                    <a href="/search-donor">Search Donor</a>
                  </li>
                  <li>
                    <a href="/organization">Search Organization</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#!"><%=data[0].fname%></a>
                <ul class="nav-dropdown">
                  <li>
                    <a href="/my-profile">My Profile</a>
                  </li>
                  <li>
                    <a href="/change-password">Change Password</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </section>



    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="panel">
                    <div class="user-heading round mb-5">
                        <a href="">
                            <img src="/public/img/uploaded_imgs/<%=data[0].img%>" alt="">
                        </a>
                        <h1>
                            <%=data[0].fname%>
                                <%=data[0].lname%>
                        </h1>
                        <h3>
                            <%=data[0].b_g%>
                                <h3>
                    </div>

                    <ul class="nav nav-pills nav-stacked mt-5">
                        <li class="#"><a href="/my-profile"> <i class="fa fa-user"></i>General</a></li>
                        <li><a href="/my-profile/my-donation"> <i class="fa fa-calendar"></i>My Donations</a></li>
                        <li><a href="/my-profile/my-request"> <i class="fa fa-clipboard"></i>My Requests</a></li>
                        <li><a href="/edit-profile"> <i class="fa fa-edit"></i>Edit Profile</a></li>
                    </ul>
                </div>
            </div>
            <div class="profile-info col-md-9">

                <div class="panel">
                    <a style="text-decoration:none" href="/add-blood-request" class="btn-post btn-lg btn-block active"
                        role="button">ADD
                        REQUEST</a>
                </div>


                <div class="panel">

                    <div class="table-responsive-lg">
                        <table class="table align-middle mb-0 bg-white">
                            <!-- <thead class="bg-light"> -->
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Patient's Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Date of Donation</th>
                                    <th scope="col">Blood Group</th>
                                    <th scope="col">Quantity(bag/s)</th>
                                    <th scope="col">View</th>
                                    <th scope="col">Resolve</th>
                                </tr>
                                <!-- </thead> -->
                            </thead>
                            <tbody>
                                <tr>

                                    <% if(request.length !=0){%>
                                        <% for(var i=0; i < request.length; i++) { %>
                                <tr>
                                    <td>
                                        <%=i+1%>
                                    </td>
                                    <td>
                                        <%=request[i].pname%>
                                    </td>
                                    <td>
                                        <%=request[i].organization%>
                                    </td>
                                    <td>
                                        <%=request[i].date.toLocaleDateString('el-GR')%>
                                    </td>
                                    <td>
                                        <%=request[i].b_g%>
                                    </td>
                                    <td>
                                        <%=request[i].quantity%>
                                    </td>
                                    <td>
                                        <form action="/my-profile/my-request/view" method="post">
                                            <button type="submit" value="<%=request[i].id%>" name="email"
                                                class="btn btn-link btn-sm btn-rounded">
                                                View
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/my-profile/my-request/resolve/<%=request[i].id%>"  method="post">
                                            <button value="<%=request[i].id%>" name="id" class="btn btn-link btn-sm btn-rounded" >
                                                Resolve
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>

                </div>


                <!-- <div class="panel">
        <a style="text-decoration:none" href="#" class="btn-post btn-lg btn-block active" role="button">ADD REQUEST</a>
    </div> -->
            </div>
        </div>
    </div>

    <!-- <section id="contact us">
    <div class="w3r-zig-zag-1"></div>
</section>
-->

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">Aastha is an energency blood-bank management system that helps people to
                        find out nearby blood-banks according to their needs as well as connects them with the donors.
                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/">About Blood</a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/">Organizations</a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/">Donors</a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/">Eligibility</a></li>

                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">About Us</a></li>
                        <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                        <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                        <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                        <a href="#">AASTHA</a>.
                    </p>
                </div>

    </footer>

    <!-- bootstrap js, jquery, popper -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>

<script>
    (function ($) { // Begin jQuery
        $(function () { // DOM ready
            // If a link has a dropdown, add sub menu toggle.
            $('nav ul li a:not(:only-child)').click(function (e) {
                $(this).siblings('.nav-dropdown').toggle();
                // Close one dropdown when selecting another
                $('.nav-dropdown').not($(this).siblings()).hide();
                e.stopPropagation();
            });
            // Clicking away from dropdown will remove the dropdown class
            $('html').click(function () {
                $('.nav-dropdown').hide();
            });
            // Toggle open and close nav styles on click
            $('#nav-toggle').click(function () {
                $('nav ul').slideToggle();
            });
            // Hamburger to X toggle
            $('#nav-toggle').on('click', function () {
                this.classList.toggle('active');
            });
        }); // end DOM ready
    })(jQuery); // end jQuery
</script>